<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Service Settings -->
    <add key="interval" value="60000"/>
    <add key="summaryhour" value="1"/>
    <add key="WriteLog" value="true"/>
    <add key="LogPath" value="C:\Projects\Encore\log\"/>

    <!-- Application Settings -->
    <add key="WebURL" value="http://localhost/NEU/"/>
    
  </appSettings>
</configuration>