<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EncoreEntities" connectionString="metadata=res://*/Encore.csdl|res://*/Encore.ssdl|res://*/Encore.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.0.10;PASSWORD=password;USER ID=ENCORE&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Encore.csdl|res://*/Encore.ssdl|res://*/Encore.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.0.10;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=ENCORE&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="datastore_path" value="C:\Projects\encore\Encore.DataStore\bin\Debug\datastore.db4"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="encoreSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="encoreSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://neudev.ceh.ac.uk/encore/encore.asmx"
        binding="basicHttpBinding" bindingConfiguration="encoreSoap"
        contract="Encore.WebServices.encoreSoap" name="encoreSoap" />
      <endpoint address="http://neudev.ceh.ac.uk/encore/encore.asmx"
        binding="customBinding" bindingConfiguration="encoreSoap12"
        contract="Encore.WebServices.encoreSoap" name="encoreSoap12" />
    </client>
  </system.serviceModel>
</configuration>