<?xml version="1.0" encoding="utf-8" ?>
<!--  //////////////////////////////////////////////
	    /// Pages Configuration (* Reqiured)		   /// 
	    ////////////////////////////////////////////// 
	 title:			Title of the page (*)			
	 url:			The url of the page (*)			
	 visible:		Show page in navigation	
	 accesskey:		Access key for the page			
	 description:	META description of the page	
	 keywords:		META keywords of the page		

	<Role>*</Role>	 
	<Role>Admin</Role>
-->
<Pages>
	<!-- /////////////////////////////////////////////////////////////// -->
	<!-- System Pages -->
	<!-- /////////////////////////////////////////////////////////////// -->
	<Page title="Error" url="~/page/error.aspx" visible="false" />
	<Page title="Welcome to ENCORE" url="~/default.aspx"  visible="false"/>
	<Page title="Forgotten Your Password" url="~/user/forgotten.aspx"  visible="false"/>
  <Page title="Sign up a new user account" url="~/registration/start.aspx"  visible="false">
    <Page title="Import User Account" url="~/registration/import.aspx"  visible="false"/>
    <Page title="Create New User" url="~/registration/create.aspx"  visible="false"/>
    <Page title="Registration Complete" url="~/registration/confirm.aspx"  visible="false"/>
  </Page>
	<Page title="My Dashboard" url="~/page/dashboard.aspx" visible="true">
		<Roles>
			<Role>*</Role>
		</Roles>
	</Page>
  <Page title="My Reports" url="~/report/default.aspx" visible="true">
    <Roles>
      <Role>*</Role>
    </Roles>
    <Page title="Create Report" url="~/report/detail.aspx" visible="true">
      <Roles>
        <Role>*</Role>
      </Roles>
    </Page>
    <Page title="View Report" url="~/report/viewreport.aspx" visible="true">
      <Roles>
        <Role>*</Role>
      </Roles>
    </Page>
    <Page title="View Graph" url="~/report/viewgraph.aspx" visible="true">
      <Roles>
        <Role>*</Role>
      </Roles>
    </Page>
  </Page>
  <Page title="Projects" url="~/project/default.aspx" visible="true">
    <Roles>
      <Role>Administrator</Role>
    </Roles>
    <Page title="Project Details" url="~/project/detail.aspx">
      <Roles>
        <Role>Administrator</Role>
      </Roles>
      <Page title="Project Fields" url="~/project/fields.aspx">
        <Roles>
          <Role>Administrator</Role>
        </Roles>
      </Page>
      <Page title="Project Sites" url="~/project/sites.aspx">
        <Roles>
          <Role>Administrator</Role>
        </Roles>
      </Page>
    </Page>
  </Page>
  <Page title="Field Dictionary" url="~/field/default.aspx" visible="true">
    <Roles>
      <Role>Administrator</Role>
    </Roles>
    <Page title="Field Detail" url="~/field/detail.aspx">
      <Roles>
        <Role>Administrator</Role>
      </Roles>
    </Page>
    <Page title="Units" url="~/field/units.aspx">
      <Roles>
        <Role>Administrator</Role>
      </Roles>
    </Page>
    <Page title="Groups" url="~/field/groups.aspx">
      <Roles>
        <Role>Administrator</Role>
      </Roles>
      <Page title="Group Detail" url="~/field/group.aspx">
        <Roles>
          <Role>Administrator</Role>
        </Roles>
      </Page>
    </Page>
  </Page>
  <Page title="Site Directory" url="~/site/default.aspx" visible="true">
    <Roles>
      <Role>Administrator</Role>
    </Roles>
    <Page title="Site Details" url="~/site/detail.aspx">
      <Roles>
        <Role>Administrator</Role>
      </Roles>
    </Page>
  </Page>
  <Page title="Users" url="~/user/default.aspx" visible="true">
    <Roles>
      <Role>Administrator</Role>
    </Roles>
    <Page title="User Details" url="~/user/detail.aspx">
      <Roles>
        <Role>Administrator</Role>
      </Roles>
    </Page>
  </Page>
  <Page title="My Details" url="~/user/mydetails.aspx" >
    <Roles>
      <Role>*</Role>
    </Roles>
  </Page>
</Pages>