<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EncoreEntities" connectionString="metadata=res://*/Encore.csdl|res://*/Encore.ssdl|res://*/Encore.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=password;USER ID=ENCORE&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Encore.csdl|res://*/Encore.ssdl|res://*/Encore.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=XEFQ12AB;PERSIST SECURITY INFO=True;USER ID=ENCORE&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>